p{
  margin: 0;
  padding: 0;
}

label{
  display: block;
}

input{
  padding: .6rem 1.2rem;
  border-radius: 10px;
  border: 1px solid grey;
  width: 300px;
}

.main{
  display: flex;
  justify-content: center;
  gap: 30px;
}

.cv{
width:650px ;
}